## Data Science Practice problems notebook.
Topic - Value of Energy Cost Savings Program for business in NYC.

Download the data set about Value of [Energy Cost Saving Program](https://data.cityofnewyork.us/City-Government/Value-of-Energy-Cost-Savings-Program-Savings-for-B/bug8-9f3g) for businesses in New York City (under the "Export" option, there is a way to retrieve a CSV file). Answer the following questions.

### Questions:
* Q1 - How many different companies are represented in the data set?
* Q2 -  What is the total number of jobs created for businesses in Queens?
* Q3 - How many different unique email domains names are there in the data set?
* Q4 - Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?
* Q5 - Save your result for the previous question as a CSV file.

### 1. load the data, and perform some initial exploration

In [1]:
import pandas as pd
fpath = './data/Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses.csv'
df = pd.read_csv(fpath)

# check the shape of the dataframe.
print('shape of the dataframe:')
print(df.shape)

# check the keys
print('keys of this dataframe:')
print(df.keys())

# have a breif view of the dataframe:
print('brief view of the dataframe:')
df.head()

shape of the dataframe:
(2363, 30)
keys of this dataframe:
Index(['Period', 'Company Name', 'company contact', 'company email',
       'company phone', 'Address', 'City', 'State', 'Postcode', 'Industry',
       'Industry descr', 'Company Type', 'Current fulltime', 'Job created',
       'Job retain', 'Effective Date', 'Total Savings',
       'Savings from beginning receiving benefits', 'Gas Savings',
       'Cogen savings', 'Electric Savings', 'Borough', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'BIN', 'BBL',
       'Census Tract (2020)', 'Neighborhood Tabulation Area (NTA) (2020)'],
      dtype='object')
brief view of the dataframe:

,Period,Company Name,company contact,company email,company phone,Address,City,State,Postcode,Industry,...,Electric Savings,Borough,Latitude,Longitude,Community Board,Council District,BIN,BBL,Census Tract (2020),Neighborhood Tabulation Area (NTA) (2020)
0,FY2018,"139 ACA Realty, Inc.",Eitan Chandally,barbara@dial7.com,7187076123,43-23 35th Street,Long Island City,NY,11101,Commercial,...,NaN,QUEENS,40.745706,-73.929565,402.0,26.0,4003160.0,4.002220e+09,17902.0,QN0202
1,FY2018,"141 Lake Avenue Realty c/o JR Produce, Inc.",Josef Raz,jrproduce@gmail.com,7183708782,141 Lake Avenue,Staten Island,NY,10303,Wholesale/Warehouse/Distribution,...,NaN,STATEN IS,40.632845,-74.151048,501.0,49.0,5146740.0,5.011610e+09,239.0,SI0107
2,FY2018,14-10 123rd Street LLC,Danica/Ivan Drazic,ddrazic@atjelectrical.com,7183210117,14-10 123rd Street,College Point,NY,11356,Commercial,...,NaN,QUEENS,40.785144,-73.844833,407.0,19.0,4098344.0,4.040850e+09,929.0,QN0701
3,FY2018,183 Lorriane Street LLC,Tom Sapienza,tsapienza@KLCNY.com,2128405588,183 Lorraine Street,Brooklyn,NY,11231,Wholesale/Warehouse/Distribution,...,NaN,BROOKLYN,40.673106,-74.002300,306.0,38.0,3336622.0,3.005720e+09,5302.0,BK0601
4,FY2018,"21st Century Optics, Inc.",Ralph Woythaler,rwoythaler@21st centuryoptics.com,7183922310,47-00 33rd Street,Lond Island City,NY,11101,Manufacturing,...,NaN,QUEENS,40.742386,-73.932148,402.0,26.0,4003447.0,4.002520e+09,19901.0,QN0202

### 2. Work on the questions.

### Q1. How many different companies are represented in the data set?

In [2]:
l=df['Company Name'].unique()
print('there are '+str(len(l))+' unique companies represented in the data set')

there are 787 unique companies represented in the data set

### Q2 - What is the total number of jobs created for businesses in Queens?

In [120]:
# check the spelling of Queens in the Borough section
print('All the Borough:')
print(df['City'].unique())

# sum up all the jobs created for business in Queens:
jobs_in_queens = df[df['City']=='QUEENS']['Job created'].sum() + df[df['City']=='Queens']['Job created'].sum() 
print('total number of jobs created for businesses in Queens is ' + str(jobs_in_queens))

All the Borough:
['Long Island City' 'Staten Island' 'College Point' 'Brooklyn'
 'Lond Island City' 'New York' 'Queens' 'Ozone Park' 'Forest Hills'
 'Brooklyn,' 'QUEENS' 'New YOrk' 'Bronx' 'bronx' 'LONG ISLAND CITY' 'LIC'
 'brooklyn' 'BRONX' 'Maspeth' nan 'BROOKLYN' 'Jamaica' 'Brookln'
 'Mt. Vernon' 'Whitestone' 'GLENDALE' 'Flushing' 'Bronx,'
 'Springfield Gardens' 'Bronx, NY' 'BROOKLYN HEIGHT' 'Brookyn' 'NEW YORK'
 'Ridgewood' 'Glendale' 'Brooklym' 'Far Rockaway' 'Astoria'
 'COLLEGE POINT' 'L I C' 'RIDGEWOOD' 'PORT MORRIS' 'Woodside' 'MASPETH'
 'INWOOD' 'L.I.C.' 'STATEN ISLAND' 'NY' 'Memphis' 'St Louis'
 'Queens Village' 'Hicksville' 'Middle Village' 'Pacoima']
total number of jobs created for businesses in Queens is 12257.0

### Q3 - How many different unique email domains names are there in the data set?

In [4]:
import numpy as np
# keep in mind that "emails" and :email domains names: are different.

# first define a transform function to calculate the email domain name:
def get_email_domain_name(email):
    if isinstance(email, str):
        domain_name = email.split('@')[-1].split('.com')[0]
    else:
        domain_name = np.nan
    return domain_name

# create an extra column in the dataframe to store the domain name of the company email.
df['company email domain name'] = df['company email'].apply(get_email_domain_name)

# calculate the totla number of unique domains names:
ucdn = df['company email domain name'].unique()
print('total number of unique email domains names is: ' + str(len(ucdn)))

total number of unique email domains names is: 601

### Q4 - Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [5]:
# first, tag each row that has how many fellow businesses within the same NTA.
df['business count per NTA'] = df.groupby('Neighborhood Tabulation Area (NTA) (2020)')\
                    ['Neighborhood Tabulation Area (NTA) (2020)'].transform('count')

# filter out only the NTAs with at least 5 listed businesses
df2=df[df['business count per NTA'] >=5]

# find NTA count and convert to dataframe.
df_byNTA=df2.groupby('Neighborhood Tabulation Area (NTA) (2020)')['business count per NTA'].count().to_frame().reset_index()

# find the average total savings grouped by NTA
df3=df2.groupby('Neighborhood Tabulation Area (NTA) (2020)')['Total Savings'].mean().to_frame().reset_index()
df_byNTA['Average Total Savings'] = df3['Total Savings']

df4=df2.groupby('Neighborhood Tabulation Area (NTA) (2020)')['Job created'].mean().to_frame().reset_index()
df_byNTA['Average Job created'] = df4['Job created']

In [6]:
# visualize the result
import seaborn as sns
import matplotlib.pyplot as plt
cm = sns.light_palette("green", as_cmap=True)
plt.figure()
df_byNTA.style.background_gradient(cmap=cm)
# plt.subplot(122)
# ave_tjc.style.background_gradient(cmap=cm)

### Q5 - Save your result for the previous question as a CSV file.

In [7]:
result_path = './data/Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_result.csv'
df_byNTA.to_csv(result_path, index=False)

### Q6 - Create the following visualizations

1. scatter plot of jobs created versus average savings. Use both a standard and a logarithmic scale for the average savings.

2. histogram of the log of the average total savings.

3. line plot of the total jobs created for each month.

In [73]:
# plot the Average Job careated v.s. Averate Total Savings (std scale)
import altair as alt
alt.Chart(df_byNTA)\
.mark_point()\
.encode(x='Average Total Savings',y='Average Job created')\
.properties(title='Average Job careated v.s. Averate Total Savings (std scale)',
           width=800,
        height=300)

alt.Chart(...)

In [74]:
# plot the Average Job careated v.s. Averate Total Savings (log scale)
alt.Chart(df_byNTA)\
.mark_point()\
.encode(x=alt.X('Average Total Savings', scale=alt.Scale(type='log',domain=[1,100000])),\
        y='Average Job created')\
.properties(title='Average Job careated v.s. Averate Total Savings (log scale)',
           width=800,
        height=300)

alt.Chart(...)

In [109]:
# histogram of the log of the average total savings.
alt.Chart(df_byNTA)\
.mark_bar()\
.encode(x=alt.X('Average Total Savings',
                bin = alt.BinParams(maxbins = 200),
                scale=alt.Scale(type='log',domain=[5000, 200000])),
        y = 'count()')

alt.Chart(...)

In [ ]:
# line plot of the total jobs created for each month.
alt.Chart(df_byNTA)\
.mark_line()\
.encode(x=alt.X('Average Total Savings',
                bin = alt.BinParams(maxbins = 200),
                scale=alt.Scale(type='log',domain=[5000, 200000])),
        y = 'count()')

In [124]:
k=df[df['']>0]

array(['Long Island City', 'Staten Island', 'College Point', 'Brooklyn',
       'Lond Island City', 'New York', 'Queens', 'Ozone Park',
       'Forest Hills', 'Brooklyn,', 'QUEENS', 'New YOrk', 'Bronx',
       'bronx', 'LONG ISLAND CITY', 'LIC', 'brooklyn', 'BRONX', 'Maspeth',
       nan, 'BROOKLYN', 'Jamaica', 'Brookln', 'Mt. Vernon', 'Whitestone',
       'GLENDALE', 'Flushing', 'Bronx,', 'Springfield Gardens',
       'Bronx, NY', 'BROOKLYN HEIGHT', 'Brookyn', 'NEW YORK', 'Ridgewood',
       'Glendale', 'Brooklym', 'Far Rockaway', 'Astoria', 'COLLEGE POINT',
       'L I C', 'RIDGEWOOD', 'PORT MORRIS', 'Woodside', 'MASPETH',
       'INWOOD', 'L.I.C.', 'STATEN ISLAND', 'NY', 'Memphis', 'St Louis',
       'Queens Village', 'Hicksville', 'Middle Village', 'Pacoima'],
      dtype=object)

In [125]:
df.keys().unique()

Index(['Period', 'Company Name', 'company contact', 'company email',
       'company phone', 'Address', 'City', 'State', 'Postcode', 'Industry',
       'Industry descr', 'Company Type', 'Current fulltime', 'Job created',
       'Job retain', 'Effective Date', 'Total Savings',
       'Savings from beginning receiving benefits', 'Gas Savings',
       'Cogen savings', 'Electric Savings', 'Borough', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'BIN', 'BBL',
       'Census Tract (2020)', 'Neighborhood Tabulation Area (NTA) (2020)',
       'company email domain name', 'business count per NTA'],
      dtype='object')

In [127]:
df['BBL']

0       4.002220e+09
1       5.011610e+09
2       4.040850e+09
3       3.005720e+09
4       4.002520e+09
            ...
2358    3.024720e+09
2359    5.011610e+09
2360             NaN
2361    3.011260e+09
2362    4.005890e+09
Name: BBL, Length: 2363, dtype: float64

-- end --